
# HTID:17748356: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17748356:
ErrorDocument 404 http://damian-abalos.000webhostapp.com/404.php