@import '../base/variables';
@import '../functions/extends';
@import '../functions/mixins';

#guia{
    h2{
        @include encabezados(black, white, $mi-azul-principal);
        margin: 1em auto 4px auto;
    }
    div{
        width: 95%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        @media (max-width: 800px) {
            display: block;
            
        }
        div{
            background-image: url(https://i.ibb.co/2ZL6Xg7/Blockchain.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            margin: 1em 2em 1em 2em;
            padding: 2em 2%;

            @media (max-width: 800px) {
                margin: 1em auto;
            }


        }
        p{
            font-size: 1.2em;
            color: white;
        }
    }
}